{% extends "basetracksearch.html" %}

{% block content %}
<div class="page-header">
	<h1>Top Gracenote Tastemakers!</h1>
</div>

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Username</th>
			<th>Total Likes</th>
		</tr>
	</thead>

	<tbody>
		{% for user in top_users %}
			<tr>
				<td> {{ user.name }} </td>
				<td> {{ user.likes }} </td>
			</tr> 
		{% endfor %}
	</tbody>
</table>

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Username</th>
			<th>Link</th>
			<th>Likes</th>
		</tr>
	</thead>

	<tbody>
		{% for rec in top_recs %}
			<tr>
				<td> {{ rec.user }} </td>
				<td><a href="{{ rec.link }}">Click to see recommendation</a> </td>
				<td> {{ rec.likes }} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}